

body {
    margin: 0.5em;
    display: flex;

    flex-direction: column;
    justify-content: center;  /* horizontal zentrieren */
    align-items: center;      /* vertikal zentrieren */
    /*font-family: Cinzel, serif;*/
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.1em;

    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: auto;
    min-width: 18em;

    h1 {
        font-family: 'Cinzel', serif;
        letter-spacing: 1px;
    }


    .hidden {
        display: none;
    }

    button {
        padding: 0.5em;
        font-size: 1.1em;
        background-color: #4CAF50;
        border-radius: 6px;
        color: white;
        border: none;
        font-family: inherit;
    }
    button:hover {
        background-color: #45a049;
        cursor: pointer;
    }

    #header-image {
        height: 8.5em;
        /*margin-left: -1em;*/
    }

    header {
        margin: 0.5em 0 0;
        padding: 0 0.75em 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        justify-items: center;
        gap: 1em;
    }
    header * {
        margin: 0;
        padding: 0;
    }
    header span {
        display: block;
    }

    nav a {
        padding-right: 1em;
    }

    main {
        div {
            min-width: 15em;
            padding: 1em;
            margin: 1em;
            border: 1px solid black;
            border-radius: 6px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        div p {
            margin: 0;
        }

        #input-form {
            display: grid;
            grid-template-columns: auto min-content;
            grid-template-areas:
                "input clear-button"
                "play-button play-button";
            ;
            align-items: center;
            /*justify-items: center;*/
            gap: 0.5em;

            #input-label {
                grid-area: input;
                display: inline-flex;
            }
            #code-input {
                /*max-width: 8.75em;*/
                margin-left: 0.5em;
            }
            #play-button {
                grid-area: play-button;
            }
            #clear-button {
                grid-area: clear-button;
                justify-self: left;
                background: white;
                color: darkgrey;
            }
        }

        #message-div {
            text-align: center;
        }

        #solution-div {
            display: grid;
            grid-template-columns: min-content auto;
            grid-template-areas:
                "titleP title"
                "yearP year"
                "artistP artist"
            ;

            align-items: start;
            justify-items: left;
            font-weight: bold;

            #title-p {
                grid-area: titleP;
            }
            #title {
                grid-area: title;
            }
            #year-p {
                grid-area: yearP;
            }
            #year {
                grid-area: year;
            }
            #artist-p {
                grid-area: artistP;
            }
            #artist {
                grid-area: artist;
            }
        }
        #solution-div span {
            font-weight: normal;
        }
        #solution-div p {
            padding-right: 0.9em;
        }

        #video-container {
            display: none;
        }
        #control-div {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 2fr;
            gap: 0.9em;
            grid-template-areas:
                "backward play-pause play-pause forward"
                "solution solution solution stop"
            ;
            align-items: center;
            justify-items: center;

            .control-button-color {
                background-color: steelblue;
                color: white;
            }
            .control-button-color:hover {
                background-color: royalblue;
            }

            .control-button {
                display: flex;
                width: 3em;
                justify-content: center;
            }

            #seek-backward-button {
                grid-area: backward;
            }
            #seek-forward-button {
                grid-area: forward;
            }
            #play-pause-button {
                grid-area: play-pause;
                width: 3em;
                height: 3em;
                border-radius: 50%;
            }
            #stop-player-button {
                grid-area: stop;
            }
            #show-conclusion-button {
                grid-area: solution;
                width: 100%;
                background-color: lightgray;
                color: black;
            }
            #show-conclusion-button:hover {
                background-color: rgb(197, 195, 195);
            }
        }
    }
}

[hidden] {
    display: none !important;
}
[disabled]:hover {
    cursor: revert !important;
}
